<div class="btn-group text-center" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-outline-secondary" routerLinkActive="active" [routerLink]="['new']"><i
            class="fas fa-user-plus"></i></button>
    <button type="button" class="btn btn-outline-secondary" routerLinkActive="active" [routerLink]="['new',23]"><i
            class="fas fa-user-edit"></i></button>
    <button type="button" class="btn btn-outline-secondary" routerLinkActive="active" [routerLink]="['detail']"><i
            class="fas fa-info-circle"></i></button>
</div>
<router-outlet></router-outlet>